```javascript
import React from 'react';
import { Link } from 'react-router-dom';
import './Home.css';

const Home = () => {
  return (
    <div className="home-container">
      <h1>Welcome to Our Website</h1>
      <p>This is the home page of our website.</p>
      <Link to="/about" className="learn-more-link">Learn More</Link>
    </div>
  );
};

export default Home;
```
# Auto improvement by Melius